#----------------------
# Local build artifacts
#----------------------
/target/
.cargo-target/
build-*/
**/*.rs.bk
temp/
reports/
output/

#----------------------
# IDE and editor files
#----------------------
.idea/
.vscode/
*.swp
*.swo
*.swn

#----------------------
# Self Assesment files
#----------------------
self-assesment/
intel-source/
cooking-reverse-engineering/
my-philosophy-for-nprobe-rs/
*tree.txt
*reverse-engineer.txt
some-self-reverse-engineering-notes-cause-why-not.txt
own-architecture-notes.txt
some-safety-notes-so-i-can-implement-later.txt
my-2023-07-08-ideas.txt
wireshark-captured-scan-data-summerize.txt

#----------------------
# Versioned documentation
#----------------------
